/* HTML and Body Styles */
header {
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    text-align: center;
}

/* Heading Styles */




/* Structural Styles */




/* Aside and Blockquote Styles */



/* Navigation Styles */




/* List Styles */



/* Outline Styles */




/* Section Styles */



/* Artilce Styles */




/* Footer Styles */